<div id="demo" class="carousel slide" data-ride="carousel">

   
    
    <!-- The slideshow -->
    <div class="container-fluid carousel-inner no-padding">
      <div class="carousel-item active">
        <div class="col-xs-4 col-sm-4 col-md-4">
         <span (click)="hezni(Imgpath1?.Title)"><img src="{{Imgpath1?.Poster}}"></span>
        </div>    
        <div class="col-xs-4 col-sm-4 col-md-4">
            <span (click)="hezni(Imgpath2?.Title)"><img src="{{Imgpath2?.Poster}}"></span>
        </div>   
        <div class="col-xs-4 col-sm-4 col-md-4">
            <span (click)="hezni(Imgpath3?.Title)"> <img src="{{Imgpath3?.Poster}}"></span>
        </div>  
      </div>
      <div class="carousel-item">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <span (click)="hezni(Imgpath4?.Title)"><img src="{{Imgpath4?.Poster}}"></span>
        </div>    
        <div class="col-xs-4 col-sm-4 col-md-4">
            <span (click)="hezni(Imgpath5?.Title)"><img src="{{Imgpath5?.Poster}}"></span>
        </div>   
        <div class="col-xs-4 col-sm-4 col-md-4">
            <span (click)="hezni(Imgpath6?.Title)"><img src="{{Imgpath6?.Poster}}"></span>
        </div>  
      </div>
      <div class="carousel-item">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <span (click)="hezni(Imgpath7?.Title)"><img src="{{Imgpath7?.Poster}}"></span>
        </div>    
        <div class="col-xs-4 col-sm-4 col-md-4">
            <span (click)="hezni(Imgpath8?.Title)"><img src="{{Imgpath8?.Poster}}"></span>
        </div>   
        <div class="col-xs-4 col-sm-4 col-md-4">
            <span (click)="hezni(Imgpath9?.Title)"><img src="{{Imgpath9?.Poster}}"></span>
        </div>
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>