.btn{
    color: white;
    background: none;
    border: 1px solid white !important;
    transition: 1s;
}
.btn:hover{
    color: black;
    background: white;
    border: none;
}
.navbar{
    background : rgba(42, 79, 240, 0.521) !important;
}
.imgimg{
    width: 30px;
    height: 30px;
}
